<mat-list *ngIf="users">
  <mat-list-item *ngFor="let user of users; index as i; trackBy: trackByFn">
    <div class="avatar" matListIcon [style.background-color]="stringToColor(user.name)">
      {{ getUserInitials(user) }}
      <mat-icon *ngIf="user.role === 'admin'">grade</mat-icon>
    </div>
    <div class="overflow-hidden" matLine>{{ user.name }}</div>
    <div class="overflow-hidden" matLine *ngIf="teamRole[user.teamRole]">{{ teamRole[user.teamRole] }}</div>

    <div class="flex-space"></div>
    <mat-chip-list>
      <mat-chip *ngIf="user.id === (authService.user$ | async)?.id"><small>Вы</small></mat-chip>
      <ng-container *ngIf="isVoted(user)">
        <mat-chip [style.background]="voteColors?.get(votes?.get(user.id) || 0)" [selected]="true">
          <small>{{ votes?.get(user.id) ?? "?" }}</small>
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </mat-list-item>
</mat-list>
<div class="flex-space"></div>
<div class="footer-actions" *ngIf="room">
  <mat-selection-list [multiple]="false">
    <mat-divider></mat-divider>
    <mat-list-option (click)="inviteRoom(room.id); item.selected = false" #item>
      <mat-icon matListIcon>share</mat-icon>
      <div class="overflow-hidden" matLine>{{room.name}}</div>
      <div class="overflow-hidden" matLine [style.color]="'#999'">#{{room.id}}</div>
    </mat-list-option>
  </mat-selection-list>
</div>
