<div class='app-relative'>
  <h2 mat-dialog-title>Профиль</h2>
  <button color='gray' class='close' mat-icon-button [mat-dialog-close]='false'>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content *ngIf='data.user as me'>
  <div class='avatar' [style.background-color]='me.name | stringToColor'>
    {{ me.name | abbreviation }}
  </div>
  <mat-selection-list [multiple]='false' *ngIf='!edit'>
    <mat-list-option [selected]='false' (click)='edit = true'>
      <mat-icon color='gray' matListIcon>perm_identity</mat-icon>
      <h4 matLine>{{me.name}}</h4>
      <p matLine class='mat-gray mat-small'>Имя</p>
      <div matListIcon style='order: -1'>
        <mat-icon *ngIf='!me.verified' color='warn' matTooltip='Аккаунт не верифицирован' matTooltipPosition='before'
                  matTooltipClass='app-big-tooltip'
                  matTooltipShowDelay='500'>error
        </mat-icon>
        <mat-icon *ngIf='me.verified' color='success' matTooltip='Аккаунт прошел верификацию' matTooltipPosition='before'
                  matTooltipClass='app-big-tooltip'
                  matTooltipShowDelay='500'>verified_user
        </mat-icon>
      </div>

    </mat-list-option>
    <mat-list-option (click)='edit = true'>
      <mat-icon color='gray' matListIcon>work_outline</mat-icon>
      <h4 matLine>
        <span *ngIf='me.role'>{{RolesName[me.role]}}</span>
        <span *ngIf='!me.role'>Не задана</span>
      </h4>
      <p matLine class='mat-gray mat-small'>Роль</p>
      <div matListIcon style='order: -1'>
        <mat-icon *ngIf='!me.role' color='orange' matTooltip='Роль не задана' matTooltipPosition='before'
                  matTooltipClass='app-big-tooltip'
                  matTooltipShowDelay='500'>error
        </mat-icon>
      </div>

    </mat-list-option>
  </mat-selection-list>

  <form *ngIf='edit' [formGroup]='form'>
    <div>
      <mat-form-field appearance='outline' hideRequiredMarker>
        <mat-label>Имя</mat-label>
        <input matInput formControlName='name'>
      </mat-form-field>
    </div>
    <div class='team-roles'>
      <mat-form-field appearance='outline' hideRequiredMarker>
        <mat-label>Роль</mat-label>
        <mat-select formControlName='role'>
          <mat-option *ngFor='let role of roles' [value]='role[0]'>{{role[1]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div *ngIf='!edit && !me.verified'>
    <div class='mat-caption' [style.margin]='"12px 0"'>
      <span class='app-strong'>Аккаунт не верифицирован.</span> При выходе или неактивности течение 30 дней все данные <span
      class='app-strong'>удалятся</span>.
      Вы не можете использовать аккаунт более чем на одном устройстве.
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf='!edit && !data.user.verified'>
  <div class='flex-space'></div>
  <button mat-flat-button matTooltip='Временно недоступно' matTooltipPosition='above'>По почте</button>
  <a mat-stroked-button [href]='googleLink'>
    <mat-icon svgIcon='google'></mat-icon>
    <span>&nbsp;Привязать аккаунт Google</span>
  </a>
</mat-dialog-actions>

<mat-dialog-actions *ngIf='edit'>
  <div class='flex-space'></div>
  <button mat-flat-button (click)='edit = false'>Отмена</button>
  <button mat-flat-button color='primary' [mat-dialog-close]='form.value'>Сохранить</button>
</mat-dialog-actions>
