<mat-toolbar color='primary'>
  <button mat-icon-button (click)='showPlayersChange.emit(!showPlayers)' *ngIf='showPlayersChange.observed && (resolution.isMobile$ | async)'>
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink='/'><h1>Planing Poker</h1></a>
  <div class='flex-space'></div>

  <button mat-icon-button (click)='showVotingsChange.emit(!showVotings)' *ngIf='showVotingsChange.observed && (resolution.isMobile$ | async)'>
    <mat-icon>chevron_left</mat-icon>
  </button>
  <ng-container *ngIf='authService.user$ | async as me'>
    <button
      mat-icon-button
      [matMenuTriggerFor]='menu'
      [matBadge]='errorLength(me)'
      matBadgeSize='small'
      [matBadgeColor]='me.verified ? "accent" : "warn"'
      [matBadgeHidden]='errorLength(me) === 0'
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu='matMenu'>
      <button mat-menu-item (click)='settings(me)'>
        <mat-icon
          [matBadge]='errorLength(me)'
          matBadgeSize='small'
          [matBadgeColor]='me.verified ? "accent" : "warn"'
          [matBadgeHidden]='errorLength(me) === 0'
        >
          account_circle
        </mat-icon>
        <span>Профиль</span>
      </button>
      <button mat-menu-item (click)='feedback()'>
        <mat-icon>feedback</mat-icon>
        <span>Обратная связь</span>
      </button>
      <button mat-menu-item (click)='authService.logout$.next(undefined)'>
        <mat-icon>logout</mat-icon>
        <span>Выйти</span>
      </button>
    </mat-menu>

  </ng-container>
</mat-toolbar>
