<mat-toolbar color="primary">
  <button mat-icon-button (click)="showPlayersChange.emit(!showPlayers)" *ngIf="showPlayersChange.observed && (resolution.isMobile$ | async)">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/"><h1>Planing Poker</h1></a>
  <div class="flex-space"></div>
  <ng-container *ngIf='authService.user$ | async'>
    <button mat-icon-button (click)="telegramLink()" *ngIf='false'>
      <mat-icon>link</mat-icon>
    </button>
    <button mat-icon-button (click)="feedback()">
      <mat-icon>feedback</mat-icon>
    </button>
    <button mat-icon-button (click)="authService.logout$.next(undefined)">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
  <button mat-icon-button (click)="showVotingsChange.emit(!showVotings)"  *ngIf="showVotingsChange.observed && (resolution.isMobile$ | async)">
    <mat-icon>chevron_left</mat-icon>
  </button>
</mat-toolbar>
