<mat-toolbar color="primary">
  <button mat-icon-button (click)="showPlayersChange.emit(!showPlayers)" *ngIf="showPlayersChange.observed && showButtons">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/"><h1>Planing Poker {{showButtons}}</h1></a>
  <div class="flex-space"></div>
  <button mat-icon-button (click)="feedback()">
    <mat-icon>feedback</mat-icon>
  </button>
  <button mat-icon-button (click)="authService.logout$.next(undefined)">
    <mat-icon>logout</mat-icon>
  </button>
  <button mat-icon-button (click)="showVotingsChange.emit(!showVotings)"  *ngIf="showVotingsChange.observed && showButtons">
    <mat-icon>chevron_left</mat-icon>
  </button>
</mat-toolbar>
