<form [formGroup]='form' (ngSubmit)='submit()'>
  <pp-dialog-toolbar [back]='isCodeStep' [closable]='false' (backEvent)='form.get("emailCode")?.disable()'>
    <span>{{isCodeStep ? 'Введите код' : 'Авторизация'}}</span>
  </pp-dialog-toolbar>

  <div mat-dialog-content *ngIf='!isCodeStep'>
    <mat-form-field appearance='outline' hideRequiredMarker>
      <mat-label>Имя</mat-label>
      <input matInput formControlName='name'>
    </mat-form-field>

    <mat-form-field appearance='outline' hideRequiredMarker class='mat-align-text-suffix' *ngIf='form.get("email") as c'>
      <mat-label>Email</mat-label>
      <input matInput formControlName='email'>
      <mat-slide-toggle matSuffix [checked]='form.get("email")?.disabled' (change)='$event.checked ? c?.disable() : c?.enable()'>
        <div class='app-flex-center'>
          <span>Анонимно&nbsp;</span>
          <mat-icon matTooltip='Вы сможете голосовать, но не сможете создавать комнаты' matTooltipClass='app-big-tooltip' color='gray'>
            help_outline
          </mat-icon>
        </div>
      </mat-slide-toggle>
    </mat-form-field>

    <mat-form-field appearance='outline' hideRequiredMarker *ngIf='form.get("password")?.enabled'>
      <mat-label>Пароль</mat-label>
      <input matInput formControlName='password' type='password'>
    </mat-form-field>

    <div class='team-roles'>
      <mat-button-toggle-group formControlName='role' [class.mat-error]='true'>
        <mat-button-toggle *ngFor='let role of roles' [value]='role[0]'>{{role[1]}}</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field appearance='outline' hideRequiredMarker>
        <mat-label>Роль</mat-label>
        <mat-select formControlName='role'>
          <mat-option *ngFor='let role of roles' [value]='role[0]'>{{role[1]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Workaround: оборачиваем в форму, что бы при первом сабмите emailCode не подсвечивался как invalid (т.к. form.submitted: false) -->
  <form mat-dialog-content *ngIf='isCodeStep' [formGroup]='form' (ngSubmit)='submit()'>
    <p>Мы отправили 6-значный код на адрес <span class='app-strong'>{{form.value.email}}</span>.</p>
    <mat-form-field appearance='outline' hideRequiredMarker class='mat-align-text-suffix'>
      <mat-label>Код доступа</mat-label>
      <input matInput formControlName='emailCode' pattern='\d*' (keydown)='preventNonNumber($event)' ppAutoFocus>
      <span matSuffix class='mat-gray'>{{timer$ | async}}</span>
    </mat-form-field>
  </form>

  <div mat-dialog-actions>
    <div class='flex-space'></div>
    <a mat-stroked-button [href]='googleLink'>
      <mat-icon svgIcon='google'></mat-icon>&nbsp; Войти с Google</a>
    <button mat-flat-button color='primary'>Войти</button>
  </div>
</form>
