@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-space {
  flex: 1 1 auto;
}

.app-strong {
  font-weight: 500;
}

.app-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.mat-tooltip.app-big-tooltip {
  font-size: 12px;
}

.mat-drawer-container {
  height: calc(100% - 56px);

  @media screen and (min-width: 600px) {
    height: calc(100% - 64px);
  }
}

.app-left-side {
  width: 300px;
}

.app-right-side {
  width: 300px;
}

.app-relative {
  position: relative;
}

mat-form-field {
  width: 100%;
}

.mat-chip.mat-standard-chip {
  user-select: none;

  &:not(.mat-chip-disabled):active {
    box-shadow: none;
  }

  &:focus::after, &:hover::after, &:active::after {
    display: none;
  }
}

.mat-form-field.mat-form-field-appearance-outline .mat-form-field-prefix {
  top:0;
}

.mat-success {
  color: mat.get-color-from-palette(mat.define-palette(mat.$green-palette), 800);
}

.mat-gray {
  color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 500);
}

.mat-orange {
  color: mat.get-color-from-palette(mat.define-palette(mat.$orange-palette), 500);
}

.mat-dialog-container .mat-dialog-close {
  position: absolute;
  right: -13px;
  top: -4px;
}
