html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-space {
  flex: 1 1 auto;
}

.app-strong {
  font-weight: 500;
}

.app-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.mat-tooltip.voting-tooltip {
  font-size: 12px;
}
