@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-space {
  flex: 1 1 auto;
}

.app-strong {
  font-weight: 500;
}

.app-center {
  text-align: center;
}

.app-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tooltip.app-big-tooltip {
  font-size: 12px;
}

.mat-drawer-container {
  height: calc(100% - 56px);

  @media screen and (min-width: 600px) {
    height: calc(100% - 64px);
  }
}

.app-left-side {
  width: 300px;

  @media screen and (max-width: 1200px) and (min-width: 1001px)  {
    width: 230px;
  }
}

.app-right-side {
  width: 300px;

  @media screen and (max-width: 1200px) and (min-width: 1001px)  {
    width: 230px;
  }
}

.app-relative {
  position: relative;
}

.app-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
}

.mat-chip.mat-standard-chip {
  user-select: none;

  &:not(.mat-chip-disabled):active {
    box-shadow: none;
  }

  &:focus::after, &:hover::after, &:active::after {
    display: none;
  }
}

.mat-form-field.mat-form-field-appearance-outline .mat-form-field-prefix {
  top: 0;
}

.mat-success {
  color: mat.get-color-from-palette(mat.define-palette(mat.$green-palette), 800);
}

.mat-gray {
  color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 500);
}

.mat-orange {
  color: mat.get-color-from-palette(mat.define-palette(mat.$orange-palette), 500);
}

.mat-dialog-container .mat-dialog-close {
  position: absolute;
  right: -13px;
  top: -4px;
}

.mat-stepper-horizontal.app-stepper {
  .mat-horizontal-content-container {
    padding: 0;
  }

  .mat-step-header {
    @media screen and (max-width: 560px) {
      padding: 24px 15px;

      .mat-step-label {
        padding-top: 5px;
      }
    }
  }
}

.app-responsive-backdrop {
  background: rgba(0, 0, 0, 0.32);
}

@media screen and (max-width: 600px) {
  .app-responsive-backdrop {
    display: none;
  }

  .app-responsive-modal {
    max-width: unset !important;
    max-height: unset !important;
    width: 100% !important;
    height: 100% !important;

    .mat-toolbar {
      background: mat.get-color-from-palette(mat.$indigo-palette, 500);
      color: mat.get-contrast-color-from-palette(mat.$indigo-palette, 500);

      .mat-gray {
        color: mat.get-contrast-color-from-palette(mat.$indigo-palette, 500);
      }
    }

    .mat-dialog-content {
      max-height: calc(100vh - 140px);
    }

    .mat-dialog-container {
      border-radius: 0;
      box-shadow: none;
    }

    .mat-dialog-actions {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      margin: 0 24px;
    }
  }
}
