<div mat-dialog-content>
  <mat-toolbar>
    <button mat-icon-button [mat-dialog-close]='false' *ngIf='back && !backEvent.observed'>
      <mat-icon color='gray'>arrow_back</mat-icon>
    </button>
    <button mat-icon-button (click)='backEvent.emit()' *ngIf='back && backEvent.observed'>
      <mat-icon color='gray'>arrow_back</mat-icon>
    </button>
    <ng-content></ng-content>
    <ng-container *ngIf='closable'>
      <div class='flex-space'></div>
      <button color='gray' mat-icon-button [mat-dialog-close]='false' *ngIf='closable'>
        <mat-icon>close</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
</div>
