<form [formGroup]="form" (ngSubmit)="form.valid && dialogRef.close(form.value)">
  <div class='app-relative'>
    <h2 mat-dialog-title>Обратная связь</h2>
    <button color='gray' class='mat-dialog-close' mat-icon-button [mat-dialog-close]='false'>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Тема обращения</mat-label>
        <mat-select formControlName="subject">
          <mat-option [value]="'Предложение'">Предложение</mat-option>
          <mat-option [value]="'Ошибка'">Ошибка</mat-option>
          <mat-option [value]="'Увеличение лимитов'">Увеличение лимитов</mat-option>
          <mat-option [value]="'Другое'">Другое</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Сообщение</mat-label>
      <textarea matInput
                formControlName="message"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="flex-space"></div>
    <button mat-flat-button [mat-dialog-close]='false'>Отмена</button>
    <button mat-flat-button color="primary" >Создать</button>
  </div>
</form>
