@use 'node_modules/@angular/material/index' as mat;

:host {
  display: flex;
  height: 100%;
  flex-direction: column;

  mat-list {
    overflow: auto;
  }

  .footer-actions {
    mat-selection-list {
      padding-top: 0;
    }
  }
  mat-list mat-divider:last-child {
    display: none;
  }
}

