@use 'node_modules/@angular/material/index' as mat;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  min-width: 330px;

  .confetti {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0
  }
}

.mat-headline {
  max-width: 660px;
}

mat-horizontal-stepper {
  width: 100%;
  max-width: 660px;
  margin: auto;
  background: unset;
  pointer-events: none;
}

.poker-cards {
  place-content: flex-start;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 660px;
  margin: auto;

  &__item {
    width: 80px;
    height: 120px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    &-disabled {
      color: #ccc;
      cursor: default;
      pointer-events: none;
    }
  }


}

@media screen and (max-width: 1200px) {
  mat-horizontal-stepper {
    max-width: 460px;
  }
  .poker-cards {
    max-width: 460px;

    &__item {
      width: 50px;
      height: 100px;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 970px) {
  .mat-headline {
    font-size: 18px;
    line-height: normal;
    max-width: 420px;
  }

  .poker-cards {
    max-width: 420px;

    &__item {
      width: 90px;
      height: 60px;
      margin: 3px;
    }
  }
}

@media screen and (max-width: 460px) {
  .mat-headline {
    max-width: 330px;
  }

  .poker-cards {
    max-width: 330px;

    &__item {
      width: 70px;
      height: 40px;
      margin: 3px;
      font-size: 30px;
    }
  }
}

.summary {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: show-summary 1.1s ease-in-out;

  @keyframes show-summary {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }

  &__content {
    margin: 0 16px;
    text-align: center;
    position: relative;
    flex-grow: 1;
    width: 100%;
    max-width: 350px;

    .doughnut-result {
      position: absolute;
      margin: 5px 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__aside {
    width: 150px;
  }
}

$loader-size: 15vh;
$loader-color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 200);
$border-size: $loader-size/4;

.loader {
  position: relative;
  margin-top: 16px;
  height: $loader-size * 2 + $border-size * 2;
  width: 100%;

  &__eye, &__mouth {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
  }

  &__eye {
    width: $loader-size;
    height: $loader-size;
    background: $loader-color;
    transform: translate(-50%, -50%);
    animation: leftEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &-right {
      animation: rightEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  }

  &__mouth {
    width: $loader-size * 2;
    height: $loader-size * 2;
    border: solid $border-size $loader-color;
    border-right: solid $border-size transparent;
    border-left: solid $border-size transparent;
    border-bottom: solid $border-size transparent;
    transform: translate(-50%, -50%) rotate(360deg);
    animation: mouthAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  &__text {
    margin-top: 24px;
    margin-bottom: 24px;
    color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 300);
    font-size: 16px;
    top: 100%;
    width: 100%;
    text-align: center;
  }
}

@keyframes mouthAnimation {
  0% { transform: translate(-50%, -50%) rotateX(180deg); }
  10% { transform: translate(-50%, -50%) rotateZ(360deg); }
  40% { transform: translate(-50%, -50%) rotateZ(320deg); }
  60% { transform: translate(-50%, -50%) rotateZ(900deg); }
  100% { transform: translate(-50%, -50%) rotateZ(900deg); }
}

@keyframes leftEyeAnimation {
  50% { width: $loader-size; height: $loader-size; transform: translate(-50%, -50%); }
  60% { width: $loader-size/2.5; height: $loader-size/2.5; transform: translate(-150%, -50%); }
  90% { width: $loader-size/2.5; height: $loader-size/2.5; transform: translate(-150%, -50%); }
  100% { width: $loader-size; height: $loader-size; transform: translate(-50%, -50%); }
}

@keyframes rightEyeAnimation {
  50% { width: $loader-size; height: $loader-size; transform: translate(-50%, -50%); }
  60% { width: $loader-size/2.5; height: $loader-size/2.5; transform: translate(50%, -50%); }
  70% { width: $loader-size/2.5; height: $loader-size/2.5; transform: translate(50%, -50%); }
  75% { width: $loader-size/2.5; height: 2px; transform: translate(50%, -50%); }
  80% { width: $loader-size/2.5; height: $loader-size/2.5; transform: translate(50%, -50%); }
  90% { width: $loader-size/2.5; height: $loader-size/2.5; transform: translate(50%, -50%); }
  100% { width: $loader-size; height: $loader-size; transform: translate(-50%, -50%); }
}
