<mat-selection-list [multiple]="false" *ngIf="votings?.length">
  <div *ngFor="let voting of votings; trackBy: trackByFn" [matTooltip]="voting.name" matTooltipClass="voting-tooltip" matTooltipShowDelay="500">
    <mat-list-option (click)="select.emit(voting)" [class.disabled]="!(authService.isAdmin$ | async)">
      <mat-icon matBadge="✓" [matBadgeHidden]="voting.status !== 'end'" matBadgeSize="small" matListIcon>description</mat-icon>
      <h3 matLine>{{voting.name}}</h3>
      <div matListIcon *ngIf="authService.isAdmin$ | async" class="delete">
        <mat-icon color="warn" (click)="deleteVoting($event, voting)">delete</mat-icon>
      </div>
    </mat-list-option>
    <mat-divider></mat-divider>
  </div>
</mat-selection-list>
<div class="empty" *ngIf="!votings?.length">
  Здесь скоро появятся самые интересные стори на свете
</div>
