.disabled {
  pointer-events: none;
}

mat-list-option {
  .delete {
    order: -1;
    position: absolute;
    right: 16px;
    opacity: 0;
    transition: opacity 300ms;
  }

  &:hover {
    .delete {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  h3[matLine] {
    margin-right: 24px;
  }

  ::ng-deep .mat-badge-content {
    background: #8bc34a;
  }
}

