@use '@angular/material' as mat;

a {
  text-decoration: none;
}

mat-drawer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 300);
}

