<pp-header
  *ngIf='isRoom'
  [(showPlayers)]='sidebars.showPlayers'
  [(showVotings)]='sidebars.showVotings'
  (showPlayersChange)='sidebars.saveSidebarsState();'
  (showVotingsChange)='sidebars.saveSidebarsState();'
  (back)='history.back(route)'
></pp-header>
<pp-header *ngIf='!isRoom'></pp-header>
<ng-container *ngIf='pp.rooms$ | async as rooms'>
  <mat-drawer-container *ngIf='authService.user$ | async'>
    <mat-drawer *ngIf='(resolution.isMobile$ | async) !== true' mode='side' [opened]='!isRoom'>
      <div class='rooms-list'>
        <a class='rooms-list__item' routerLinkActive='active' [routerLink]="['room', room.alias || room.id]" *ngFor='let room of rooms'>
          <div
            class='rooms-list__item__avatar'
            [matTooltip]='room.name' matTooltipClass='app-big-tooltip' matTooltipPosition='right'
            [style.background-color]='room.name | stringToColor'
          >{{ room.name | abbreviation }}</div>
          <div [routerLink]="['room', room.id]" ></div>
        </a>
        <a class='rooms-list__create' routerLink='create' [relativeTo]='activatedRouteFirstChild(route)'>
          <div class='rooms-list__create__avatar' matTooltip='Создать комнату' matTooltipClass='app-big-tooltip' matTooltipPosition='right'>+</div>
        </a>
      </div>
    </mat-drawer>
    <router-outlet></router-outlet>

  </mat-drawer-container>
</ng-container>
