<ng-container *ngIf='pp.rooms$ | async as rooms'>
  <mat-drawer-container>
    <mat-drawer mode='side' [opened]='!isRoot'>
      <div class='rooms-list'>
        <a class='rooms-list__item' routerLinkActive='active' [routerLink]="['room', room.alias || room.id]" *ngFor='let room of rooms'>
          <div
            class='rooms-list__item__avatar'
            [matTooltip]='room.name' matTooltipClass='app-big-tooltip' matTooltipPosition='right'
            [style.background-color]='room.name | stringToColor'
          >{{ room.name | abbreviation }}</div>
          <div [routerLink]="['room', room.id]" ></div>
        </a>
        <div class='rooms-list__create' (click)='newRoom()'>
          <div class='rooms-list__create__avatar' matTooltip='Создать комнату' matTooltipClass='app-big-tooltip' matTooltipPosition='right'>+</div>
        </div>
      </div>
    </mat-drawer>
    <router-outlet></router-outlet>

  </mat-drawer-container>
</ng-container>
