<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title *ngIf='!telegramHandshake'>Введите имя</h1>
  <h1 mat-dialog-title *ngIf='telegramHandshake'>Введите код</h1>
  <div mat-dialog-content >
    <ng-container *ngIf='!telegramHandshake'>
      <div>
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Имя</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>

      <div *ngIf="devMode">
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Пароль</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
      </div>

      <div class="team-roles">
        <!--div class='mat-form-field-wrapper'-->
          <mat-button-toggle-group formControlName="role" [class.mat-error]="true">
            <mat-button-toggle *ngFor="let role of roles" [value]="role[0]">{{role[1]}}</mat-button-toggle>
          </mat-button-toggle-group>
        <!--/div-->

        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Роль</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role[0]">{{role[1]}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngIf='telegramHandshake'>
      <div [formGroup]='telegramCodeForm'>
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Код телеграмм</mat-label>
          <input matInput type=number formControlName="telegramCode">
        </mat-form-field>
      </div>
    </ng-container>
    <h4 mat-dialog-title [align]="'center'" [style.color]="'#999'" *ngIf='devMode'>
      <a mat-button (click)='telegramHandshake = !telegramHandshake'>или  {{telegramHandshake ? 'зарегистрируйтесь' : 'войдите с помощью телеграм'}}</a>
    </h4>
  </div>
  <div mat-dialog-actions>
    <mat-error *ngIf="devMode">Superuser mode activated</mat-error>
    <div class="flex-space"></div>
    <button type="submit" mat-flat-button color="primary">Войти</button>
  </div>
</form>
