mat-form-field {
  width: 100%;
}

.team-roles {
  @media screen and (min-width: 750px) {
    mat-form-field { display: none; }
  }

  @media screen and (max-width: 750px) {
    mat-button-toggle-group { display: none; }
  }
}
