:host ::ng-deep .mat-horizontal-content-container {
  display: none;
}

.mat-drawer-container {
  height: calc(100% - 64px)
}

.users {
  width: 300px;
}

.votings {
  width: 200px;
}

.new-voting-button {
  position: fixed;
  bottom: 16px;
  right: 216px;
}

