<pp-header (menu)="togglePlayers()" (votings)="toggleVotings()" [showVotings]="showVotings"></pp-header>
<ng-container *ngIf="authService.user$ | async">
  <mat-drawer-container>
    <mat-drawer class='users' mode="side" [opened]="showPlayers">

      <!--- USERS --->
      <pp-users
        [users]="users$ | async"
        [activeVoting]="activeVoting$ | async">
      </pp-users>
    </mat-drawer>
    <mat-drawer-content>

      <!--- CARDS --->
      <pp-cards
        [activeVoting]="activeVoting$ | async"
        [avg]="avg$ | async"
        [votedCount]="votedCount$ | async"
        [(step)]="step"
        (stepChange)="cd.detectChanges()"
      ></pp-cards>

      <!--- CREATE --->
      <ng-container *ngIf="authService.isAdmin$ | async">
        <button mat-fab color="primary" class="story-create" *ngIf="step === 0" (click)="createStory()">
          <mat-icon>create</mat-icon>
        </button>
      </ng-container>
    </mat-drawer-content>

    <mat-drawer class='votings' mode="side" [opened]="showVotings" position="end" *ngIf="votings$ | async as votings">
      <!--- VOTINGS --->
      <pp-votings
        [votings]="votings"
        (select)="pp.activateVoting(($event.id))"
      ></pp-votings>
    </mat-drawer>

  </mat-drawer-container>
</ng-container>
