<ng-container *ngIf='pp.rooms$ | async as rooms'>
  <ng-container *ngIf='rooms.length === 0'>
    <h1 class='mat-display-3 app-strong' routerLink='create'>
      <span *transloco='let t'>{{t('rooms.noRoomsTitle')}}</span>
    </h1>
  </ng-container>

  <ng-container *ngIf='rooms.length > 0'>
    <div class='room-cards'>
      <a [routerLink]="['room', room.alias || room.id]" *ngFor='let room of rooms'>
        <mat-card matRipple>
          <div mat-card-image [style.background-color]='room.name | stringToColor'>
            <span>{{ room.name | abbreviation }}</span>
          </div>
          <mat-card-header>
            <mat-card-title>{{room.name}}</mat-card-title>
            <mat-card-subtitle *transloco='let t'>{{t('rooms.usersCount', room.users)}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <a mat-fab color="primary" routerLink='create'>
      <mat-icon>add</mat-icon>
    </a>

  </ng-container>
</ng-container>
<router-outlet></router-outlet>
