@use 'node_modules/@angular/material/index' as mat;
@use "sass:math";

$size: 5vmin;
$max-width: 560px;

:host {
  height: 100%;
  display: flex;
  justify-content: center;

  h1 {
    font-size: max(5vmin, 26px);
    line-height: normal;
    margin-bottom: math.div($size, 3);
    align-self: center;
    color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 300);
    text-align: center;
    cursor: pointer;
    padding: 24px;
    border-radius: 10px;
    transition: 300ms all;

    &:hover {
      background: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 100);
      color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 400);
    }
  }
}

.room-cards {
  align-self: flex-start;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  min-width: 330px;

  @media screen and (max-width: $max-width) {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  a {
    text-decoration: none;
    margin: 15px;
    cursor: pointer;
    display: block;

    @media screen and (max-width: $max-width) {
      margin: 0;

      &:not(:first-child) {
        border-top: 1px mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 300) solid
      }

      &:last-child {
        display: none;
      }
    }
  }

  .mat-card {
    width: 200px;
    white-space: nowrap;

    @media screen and (max-width: $max-width) {
      width: auto;
      display: flex;
      align-items: center;
      box-shadow: none;
      border-radius: 0;
      padding: 12px;
    }

    ::ng-deep .mat-card-header-text {
      overflow: hidden;

      @media screen and (max-width: $max-width) {
        margin: 0;
      }
    }

    .mat-card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      height: 25px;
      margin-bottom: 0;

      @media screen and (max-width: $max-width) {
        font-size: 16px;
        height: auto;
      }
    }
    .mat-card-subtitle {
      display: none;
      @media screen and (max-width: $max-width) {
        display: block;
        margin: 0;
      }
    }

    .mat-card-image {
      font-size: 3em;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: mat.get-color-from-palette(mat.define-palette(mat.$gray-palette), 300);

      @media screen and (max-width: $max-width) {
        font-size: 1.5em;
        font-weight: 500;
        margin: 0 12px 0 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      span {
        transition: all 500ms;
      }
    }
  }

  a:hover {
    .mat-card-image span {
      transform: scale(1.2);
    }
  }
}

.mat-fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
