@use 'node_modules/@angular/material/index' as mat;
$size: 35vmin;

:host {
  height: 100%;
  display: flex;
  justify-content: center;
  color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 300);

  h1 {
    font-size: $size - 27;
    line-height: normal;
    margin-bottom: ($size - 27)/3;
    align-self: center;
  }
}

.room-cards {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;

  a {
    text-decoration: none;
    margin: 15px;
  }

  .mat-card {
    width: 200px;
    white-space: nowrap;

    ::ng-deep .mat-card-header-text {
      overflow: hidden;
    }

    .mat-card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      height: 25px;
      margin-bottom: 0;
    }


    .mat-card-image {
      font-size: 3em;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      span {
        transition: all 500ms;
      }
    }
  }

  a:hover {
    .mat-card-image span {
      transform: scale(1.2);
    }
  }
}
