@use '@angular/material' as mat;
$size: 35vmin;
mat-drawer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h3 {
  display: flex;
  align-items: center;
  font-weight: normal;
}

h1 {
  color: mat.get-color-from-palette(mat.define-palette(mat.$pink-palette), 200);
  font-size: $size;
}

h3 {
  color: mat.get-color-from-palette(mat.define-palette(mat.$pink-palette), 200);
  font-size: $size - 29;
  margin-top: -($size - 29);
  margin-bottom: $size - 29;
}

mat-icon {
  font-size: $size;
  width: $size;
  height: $size;
}
