<div class="limit-snackbar" *transloco='let t'>
  <div *ngIf='limits'>
    <span class='app-strong'>{{t('snackbar.errorTitle')}}</span><br/>
    <span *ngIf='limits.maxRooms'>{{t('snackbar.maxRoomsMessage', limits)}}</span>
    <span *ngIf='limits.maxVotings'>{{t('snackbar.maxVotingsMessage', limits)}}</span>
  </div>
  <br/>
  <div class="limit-snackbar__footer" [align]='"right"'>
    <button mat-button (click)='snackBar.dismiss()'>{{t('close')}}</button>
    <button mat-flat-button routerLink='feedback' [relativeTo]='activatedRouteFirstChild(route)' [queryParams]='{subject: "Увеличение лимитов"}' (click)='snackBar.dismiss()'>
      {{t('snackbar.increaseLimits')}}
    </button>
  </div>
</div>
