@use 'node_modules/@angular/material/index' as mat;

:host {
  display: flex;
  height: 100%;
  flex-direction: column;

  mat-list {
    overflow: auto;
  }

  .footer-actions {
    mat-selection-list {
      padding-top: 0;

      .avatar {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
  mat-list mat-divider:last-child {
    display: none;
  }
}

