<mat-horizontal-stepper #stepper [selectedIndex]="step" [disableRipple]="true" labelPosition="bottom">
  <mat-step label="Подготовка"><ng-template matStepperIcon="edit"><mat-icon>check</mat-icon></ng-template></mat-step>
  <mat-step label="Оценка" [completed]="step===2"><ng-template matStepperIcon="edit"><mat-icon>check</mat-icon></ng-template></mat-step>
  <mat-step label="Результаты"><ng-template matStepperIcon="edit"><mat-icon>check</mat-icon></ng-template></mat-step>
</mat-horizontal-stepper>

<ng-container *ngIf="activeVoting" [ngSwitch]="step">
  <div class="mat-headline app-center">
    {{ activeVoting.name}}
  </div>
  <ng-container *ngSwitchCase="1">
    <div class="poker-cards">
      <mat-card
        *ngFor="let point of points"
        matRipple
        class="mat-display-2 poker-cards__item"
        [class.mat-elevation-z8]="active === point"
        (click)="vote(point)"
      >{{point}}</mat-card>
    </div>

    <ng-container class="actions" *ngIf="(authService.isAdmin$ | async) && activeVoting?.votes!.length">
      <br/>
      <button mat-flat-button color="primary" (click)="pp.flip(activeVoting!.id)">Открыть карты</button>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <div class="summary">
      <div class="summary__content">
        <pp-doughnut [groupedVotes]="groupedVotes" [voting]="activeVoting">{{winner}}</pp-doughnut>
      </div>
      <table class="summary__aside">
        <tr class="mat-row" *ngFor="let groupedVote of groupedVotes">
          <td class="mat-cell">{{ groupedVote[1] | pluralize: 'голос' : 'голоса' : 'голосов' }} за</td>
          <td class="mat-cell mat-body-strong">{{ groupedVote[0] }}</td>
        </tr>
      </table>
    </div>
    <div class="summary">
      <div class="summary__content">
        <ng-container *ngIf="authService.isAdmin$ | async">
          <br/>
          <button color="primary" mat-flat-button (click)="pp.restartVoting(activeVoting!.id)">Перезапустить</button>
        </ng-container>
      </div>
      <div class="summary__aside"></div>
    </div>
  </ng-container>
</ng-container>
<div class="flex-space"></div>

