<mat-horizontal-stepper #stepper [selectedIndex]="step" [disableRipple]="true">
  <mat-step label="Презентация стори">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
  </mat-step>
  <mat-step label="Оценка Стори">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
  </mat-step>
  <mat-step label="Результаты">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>

<ng-container *ngIf="activeVoting as voting">
  <div class="mat-headline center">{{ voting.name}}</div>
  <div class="poker-cards">
    <mat-card
      *ngFor="let point of points"
      matRipple
      class="mat-display-2 poker-cards__item"
      [class.mat-elevation-z8]="active === point"
      [class.poker-cards__item-disabled]="step === 0 || (selected && active !== point)"
      [class.poker-cards__item-deactivated]="step !== 1"
      (click)="vote(point)"
    >{{point}}</mat-card>
  </div>
</ng-container>

<mat-card class="actions" *ngIf="selected || ((authService.isAdmin$ | async) && votedCount! > 0)">
  <div *ngIf="step === 2">Итоговая средняя оценка: <b>{{avg | number:'0.0-1'}}</b></div>

<!--  <div style="display: flex; align-items: center" *ngIf="step !== 2">-->
<!--    <mat-icon style="margin-right: 8px">timer</mat-icon>-->
<!--    <span>{{timer$ | async | date:'mm:ss'}}</span>-->
<!--  </div>-->

  <div class="flex-space"></div>
  <button *ngIf="selected && step !== 2" mat-flat-button (click)="reset()">Отмена</button>
  <ng-container *ngIf="authService.isAdmin$ | async">
    <button *ngIf="step !== 2" mat-flat-button color="primary" (click)="pp.flip(activeVoting!.id)">Открыть карты</button>
    <button *ngIf="step === 2" mat-flat-button color="primary" (click)="pp.endVoting(activeVoting!.id)">Завершить голосование</button>
  </ng-container>
</mat-card>
