<h1 mat-dialog-title>Введите код</h1>

<form [formGroup]='form' (ngSubmit)='form.valid && matDialogRef.close(form.value)'>
  <div mat-dialog-content >
    <mat-form-field appearance='outline' hideRequiredMarker>
      <mat-label>Код доступа в комнату</mat-label>
      <input matInput type='password' formControlName='password' cdkFocusInitial>
    </mat-form-field>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-flat-button color='primary'>Присоединиться</button>
  </div>
</form>
