<ng-container *ngIf="authService.user$ | async as me">
  <mat-selection-list [multiple]="false" *ngIf="votings?.length" [disableRipple]='true' >
    <div *ngFor="let voting of votings; trackBy: trackByFn" [matTooltip]="voting.name" matTooltipClass="app-big-tooltip" matTooltipShowDelay="500">
      <a [routerLink]='[]' [queryParams]='activeVoting?.id === voting.id || authService.isAdmin(me, room) ? {} : {votingId: voting.id}'>
      <mat-list-option (click)="authService.isAdmin(me, room) && choose.emit(voting)">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editVoting(voting)">
            <mat-icon>edit</mat-icon>
            <span>Изменить</span>
          </button>
          <button mat-menu-item (click)="deleteVoting(voting)">
            <mat-icon>delete</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>

        <mat-icon color='{{voting.id === activeVoting?.id ? "primary" : "gray"}}' matBadge="✓" [matBadgeHidden]="voting.status !== 'end'" matBadgeSize="small" matListIcon>donut_large</mat-icon>
        <h3 matLine>
          <span [class.app-strong]='voting.id === activeVoting?.id'>{{voting.name}}</span>
        </h3>
        <div matListIcon *ngIf="authService.isAdmin(me, room)" class='menu' [matMenuTriggerFor]="menu" matRipple (click)='$event.preventDefault(); $event.stopPropagation()'>
          <mat-icon>more_horiz</mat-icon>
        </div>
      </mat-list-option>
      </a>
      <mat-divider></mat-divider>
    </div>
  </mat-selection-list>
  <div class="mat-gray empty" *ngIf="!votings?.length">
    Здесь скоро появятся самые интересные стори на свете
  </div>
</ng-container>
