<pp-dialog-toolbar *ngIf='authService.user$ | async as me' [closable]='false' [back]='true'>
  <h1 *ngIf='me.verified && !data?.room'>Новая комната</h1>
  <h1 *ngIf='me.verified && data?.room'>Настройки комнаты</h1>
  <h1 *ngIf='!me.verified'>Пройдите верификацию</h1>
</pp-dialog-toolbar>

<form [formGroup]='form' (ngSubmit)='form.valid && matDialogRef.close(form.value)' *ngIf='authService.user$ | async as me'>
  <div mat-dialog-content *ngIf='me.verified'>
    <mat-form-field appearance='outline' hideRequiredMarker>
      <mat-label>Название</mat-label>
      <input matInput formControlName='name' ppAutoFocus>
    </mat-form-field>

    <h4 *ngIf='!customize' [align]="'center'" class='mat-gray'>
      <button mat-button type='button' (click)='customize = true'>
        <div class='app-flex-center'>
          <mat-icon>settings</mat-icon>
          <span>&nbsp; Расширенные настройки</span>
        </div>
      </button>
    </h4>
    <ng-container *ngIf='customize'>
      <mat-form-field appearance='outline' floatLabel='always'>
        <mat-label>Пароль для входа (необязательно)</mat-label>
        <input matInput formControlName='password'>
      </mat-form-field>

      <mat-form-field appearance='outline' floatLabel='always' *ngIf='form.get("alias") as c'>
        <mat-label>Адрес (необязательно)</mat-label>

        <span matPrefix class='mat-gray'>{{location}}/room/</span>
        <input matInput formControlName='alias'>

        <mat-spinner *ngIf='c.pending' matSuffix diameter='21'></mat-spinner>
        <mat-icon *ngIf='c.valid && c.value' matSuffix color='success'>check</mat-icon>

        <mat-error *ngIf="c.hasError('alreadyInUse')">Адрес уже используется, выберите другой</mat-error>
        <mat-error *ngIf="c.hasError('minlength')">Минимум {{c.getError('minlength').requiredLength}} символа</mat-error>
        <mat-error *ngIf="c.hasError('maxlength')">Максимум {{c.getError('maxlength').requiredLength}} символа</mat-error>
        <mat-error *ngIf="c.hasError('pattern')">Может содержать только латинские буквы, цифры «_» или «-»,</mat-error>
      </mat-form-field>

      <mat-form-field appearance='outline' class='pointerChip'>
        <mat-label>Кто видит голоса в процессе голосования?</mat-label>
        <mat-chip-list multiple>
          <mat-chip *ngFor='let c of roomRoles.controls' [selected]='c.value.checked' (click)='c.get("checked")?.setValue(!c.value.checked)'>
            {{c.value.name}}
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Варианты голосования</mat-label>
        <mat-chip-list #pointsChipList>
          <mat-chip *ngFor='let point of points.value' (removed)='removePoint(point)' disableRipple [selectable]='false'>
            {{point}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder='Еще...' maxlength='4' [matChipInputFor]='pointsChipList' [matChipInputAddOnBlur]='true'
                 (matChipInputTokenEnd)='addPoint($event)' />
        </mat-chip-list>
        <mat-error *ngIf='points.invalid'>Минимум 2 варианта</mat-error>

      </mat-form-field>
    </ng-container>

    <div class='app-flex-center'>
      <span class='mat-gray' style='padding: 0 16px'>Пресеты: </span>
      <button
        *ngFor='let p of presets'
        mat-button
        type='button'
        [color]='points.value.toString() === p.values.toString() ? "primary" : null'
        (click)='setPoints(p.values)'
      >{{p.name}}</button>
    </div>
  </div>

  <div mat-dialog-content *ngIf='!me.verified'>
    <div class='mat-caption' [style.margin]='"12px 0"' *ngIf='!me.verified'>
      <span class='app-strong'>Аккаунт не верифицирован.</span> При выходе или неактивности течение 30 дней все данные <span
      class='app-strong'>удалятся</span>.
      Вы не можете использовать аккаунт более чем на одном устройстве, а также быть создателем комнаты.
    </div>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-flat-button [mat-dialog-close]='false' *ngIf='!matDialogRef.disableClose'>Отмена</button>
    <button mat-flat-button color='primary' *ngIf='!data?.room && me.verified'>Создать</button>
    <button mat-flat-button color='primary' *ngIf='data?.room && me.verified'>Сохранить</button>
    <ng-container *ngIf='!me.verified'>
      <button mat-stroked-button matTooltip='Временно недоступно' matTooltipPosition='above'>По почте</button>
      <a mat-stroked-button [href]='authService.googleAuthLink'>
        <mat-icon svgIcon='google'></mat-icon>
        <span>&nbsp;Привязать аккаунт Google</span>
      </a>
    </ng-container>
  </div>
</form>
