{
  "semi": true,
  "singleQuote": true,
  "printWidth": 150,
  "vueIndentScriptAndStyle": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "quoteProps": "preserve",
  "trailingComma": "none"
}
