mat-selection-list {
  margin: 0 -24px;
}

.avatar {
  font-size: 44px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: 24px auto;
}
