<mat-list>
  <mat-list-item>
    <div class="mat-subheader">История голосований</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>description</mat-icon>
    <h3 matLine>EWE-0011</h3>
    <p matLine>
      <small> Оценка </small>
      <small class="mat-body-2"> 8sp </small>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>description</mat-icon>
    <h3 matLine>EWE-0011</h3>
    <p matLine>
      <small> Оценка </small>
      <small class="mat-body-2"> 8sp </small>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>description</mat-icon>
    <h3 matLine>EWE-0011</h3>
    <p matLine>
      <small> Оценка </small>
      <small class="mat-body-2"> 8sp </small>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>description</mat-icon>
    <h3 matLine>EWE-0012</h3>
    <p matLine>
      <small> Оценка </small>
      <small class="mat-body-2"> идет </small>
    </p>
  </mat-list-item>
</mat-list>
