<h1 mat-dialog-title>Создать новую комнату</h1>
<form [formGroup]='form' (ngSubmit)='form.valid && matDialogRef.close(form.value)'>
  <div mat-dialog-content>

    <mat-form-field appearance='outline' hideRequiredMarker *ngIf='!join'>
      <mat-label>Название</mat-label>
      <input matInput formControlName='name'>
    </mat-form-field>
    <mat-form-field appearance='outline' hideRequiredMarker *ngIf='join'>
      <mat-label>Код для входа в комнату</mat-label>
      <input matInput formControlName='code'>
    </mat-form-field>
    <h4 mat-dialog-title [align]="'center'" [style.color]="'#999'">
      <a mat-button (click)='join = !join'>или  {{join ? 'создайте новую комнату' : 'войдите с помощью кода'}}</a>
    </h4>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-flat-button [mat-dialog-close]='false' *ngIf='!matDialogRef.disableClose'>Отмена</button>
    <button mat-flat-button color='primary'>Создать</button>
  </div>
</form>
