<form [formGroup]="form" (ngSubmit)="form.valid && dialogRef.close(form.value)">
  <h1 mat-dialog-title>Добавить стори</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Каждая стори начинается с новой строки</mat-label>
      <textarea matInput
                formControlName="names"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="15"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <div class="flex-space"></div>
    <button mat-flat-button type='button' (click)='dialogRef.close()'>Отмена</button>
    <button mat-flat-button color="primary" >Создать</button>
  </div>
</form>
