<ng-container *ngIf="pp.room$ | async as room">
  <mat-drawer-container *ngIf="authService.user$ | async as me">
    <mat-drawer class='app-left-side' [mode]="sidebars.sidenavMode" [(opened)]="sidebars.showPlayers" [autoFocus]="false">
      <!--- USERS --->
      <pp-room-users [users]="users$ | async" [currentVoting]="currentVoting$ | async" [room]="room"></pp-room-users>
    </mat-drawer>

    <mat-drawer-content>
      <!--- CARDS --->
      <pp-room-cards [users]="users$ | async" [currentVoting]="currentVoting$ | async" [step]="step$ | async" [room]="room"></pp-room-cards>

      <!--- CREATE --->
      <div class="new-voting-button-wrap" *ngIf="authService.isAdmin(me, room)">
        <div class="new-voting-button-tooltip" *ngIf="!(votings$ | async)?.length">
          <div>Для начала добавьте стори</div>
        </div>
        <a mat-fab color="primary" class="new-voting-button" routerLink='.' fragment='new-voting'>
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </mat-drawer-content>

    <mat-drawer class='app-right-side' [mode]="sidebars.sidenavMode" [(opened)]="sidebars.showVotings" position="end" [autoFocus]="false">
      <!--- VOTINGS --->
      <pp-room-votings [votings]="votings$ | async" [currentVoting]='currentVoting$ | async' [activeVoting]='activeVoting$ | async' [room]="room" (choose)="pp.activateVoting($event.id)"></pp-room-votings>
    </mat-drawer>
  </mat-drawer-container>
</ng-container>
