:host ::ng-deep .mat-horizontal-content-container {
  display: none;
}

mat-drawer-content {
  position: relative;

  .new-voting-button {
    position: fixed;

    &-wrap {
      position: absolute;
      bottom: 16px;
      right: 16px;
      width: 56px;
      height: 56px;
    }

    @media screen and (max-width: 1000px) {
      right: 16px;
    }
  }
}
