<pp-header
  [(showPlayers)]="sidebars.showPlayers"
  [(showVotings)]="sidebars.showVotings"
  (showPlayersChange)="sidebars.saveSidebarsState();"
  (showVotingsChange)="sidebars.saveSidebarsState();"
></pp-header>
<mat-drawer-container *ngIf="authService.user$ | async">
  <mat-drawer class='app-left-side' [mode]="sidebars.sidenavMode" [(opened)]="sidebars.showPlayers" [autoFocus]="false">
    <!--- USERS --->
    <pp-users [users]="users$ | async" [activeVoting]="activeVoting$ | async" [room]="pp.room$ | async"></pp-users>
  </mat-drawer>

  <mat-drawer-content>
    <!--- CARDS --->
    <pp-cards [activeVoting]="activeVoting$ | async" [step]="step"></pp-cards>

    <!--- CREATE --->
    <div class="new-voting-button-wrap" *ngIf="authService.isAdmin$ | async">
      <div class="new-voting-button-tooltip" *ngIf="!(votings$ | async)?.length" style="">
        <div>Для начала добавьте стори</div>
      </div>
      <button mat-fab color="primary" class="new-voting-button" (click)="openNewVotingModal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-drawer-content>

  <mat-drawer class='app-right-side' [mode]="sidebars.sidenavMode" [(opened)]="sidebars.showVotings" position="end" [autoFocus]="false">
    <!--- VOTINGS --->
    <pp-votings [votings]="votings$ | async" (select)="pp.activateVoting(($event.id))"></pp-votings>
  </mat-drawer>
</mat-drawer-container>
