<form (ngSubmit)='code.valid && submit()'>
  <h1 mat-dialog-title>Введите код</h1>

  <div mat-dialog-content>
    <div>
      <mat-form-field appearance='outline' hideRequiredMarker>
        <mat-label>Код</mat-label>
        <input matInput [formControl]='code'>
        <mat-error *ngIf="code.hasError('invalidCode')">Невеный код. Попробуйте еще раз.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions [align]='"end"'>

    <div class='flex-space'></div>
    <a
      [style.width.px]='125'
      href='https://t.me/PlaningPokerBot?start=register'
      target='_blank'
      mat-button
      color='primary'
      (click)='startTimer$.next(120)'
      [disabled]='!!(timer$ | async)'
    >
      <span *ngIf='timer$ | async as timer; else getCode'>{{ timer | date: "mm:ss" }}</span>
      <ng-template #getCode>Получить код</ng-template>
    </a>
    <button type='submit' mat-flat-button color='primary'>Войти</button>
  </div>
</form>
