<ng-container *ngIf="authService.user$ | async as me">
  <mat-list-item *ngIf="user && room">
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeModerator(user.id, room.id)" *ngIf="!authService.isAdmin(user, room)">
        <mat-icon>verified_user</mat-icon>
        <span>Модератор</span>
      </button>
      <button mat-menu-item (click)="pp.setRole(user.id, room.id, roomRole.user)" *ngIf="authService.hasRole(user, roomRole.observer, room)">
        <mat-icon>account_circle</mat-icon>
        <span>Голосующий</span>
      </button>
      <button mat-menu-item (click)="pp.setRole(user.id, room.id, roomRole.observer)" *ngIf="!authService.hasRole(user, roomRole.observer, room)">
        <mat-icon>remove_red_eye</mat-icon>
        <span>Наблюдатель</span>
      </button>
      <button mat-menu-item (click)="kick(user.id, room.id)" *ngIf='me.id !== user.id && !user.su'>
        <mat-icon>block</mat-icon>
        <span>Исключить</span>
      </button>
    </mat-menu>

    <div
      class="avatar"
      matListIcon
      [style.background-color]="user.online ? (user.name | stringToColor) : null"
      [matMenuTriggerFor]="menu"
      [class.menu]="authService.isAdmin(me, room)"
    >
      {{ user.name | abbreviation }}
      <mat-icon *ngIf="!user.su && authService.isAdmin(user, room)">grade</mat-icon>
      <mat-icon *ngIf="user.su" class="su">whatshot</mat-icon>
    </div>
    <div class="app-text-ellipsis" matLine>{{ user.name }}</div>
    <div class="app-text-ellipsis" matLine *ngIf="user.role && role[user.role]">{{ role[user.role] }}</div>

    <div class="flex-space"></div>
    <mat-chip-list>
      <mat-chip class='mat-chip-me' disableRipple *ngIf="user.id === me?.id"><small>Вы</small></mat-chip>
      <ng-container *ngIf="isVoted">
        <mat-chip disableRipple [style.background]="voteColors?.get(votes?.get(user.id) || null)" [selected]="true">
          <small>{{ votes?.get(user.id) ?? "?" }}</small>
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </mat-list-item>
</ng-container>
