@use 'node_modules/@angular/material/index' as mat;

:host .mat-list-icon.avatar {
  pointer-events: none;
  font-size: 14px;
  font-weight: 500;
  background: mat.get-color-from-palette(mat.define-palette(mat.$gray-palette), 500);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.menu {
    cursor: pointer;
    pointer-events: auto;
  }

  mat-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background: #ff9800;
    border-radius: 50%;
    font-size: 10px;
    padding: 5px;
    box-sizing: border-box;
  }

  ::ng-deep {
    .mat-chip-list-wrapper {
      flex-wrap: nowrap;
    }
  }
}

.mat-chip-list {
  flex-shrink: 0;
  animation: 200ms ease-in-out show-chip;
}

@media screen and (max-width: 1200px) and (min-width: 1001px)  {
  .mat-chip-me {
    display: none;
  }
}

@keyframes show-chip {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

